body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 80vh;
  background-color: hsl(216, 12%, 8%);
  font-family: "overpass", sans-serif;
}

.countainer {
  width: 250px;
  padding: 30px;
  border: 1px solid;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
}
.starCircle {
  display: inline-block;
  background-color: hsl(211, 21%, 20%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.rateSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  color: white;
}
p {
  color: hsl(217, 10%, 56%);
}
.rate {
  background-color: hsl(211, 21%, 20%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: hsl(217, 10%, 56%);
  border: none;
}
.rate:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.rate:focus {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
.submitBtn {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border-radius: 30px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  font-weight: 500;
}
.submitBtn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}
